<!DOCTYPE html>
<html ng-app="esri-map-example">
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="http://js.arcgis.com/3.12/esri/css/esri.css">
    <style type="text/css">
      .mb3{margin-bottom: 3em;}
      .pointer{cursor: pointer;}
    </style>
  </head>
  <body ng-controller="MapController">

    <div class="container">
      <div class="header">
          <h2 class="text-muted">Ejercicio 6: Usar un webmap propio</h2>
      </div>

      <div class="row">
        
        <div class="col-md-8">
          
          <esri-map id="map" register-as="myMap" webmap-id="ca26b3b35fd84cb7bd6b76ffe4318710" center="map.center" zoom="map.zoom" item-info="itemInfo">

        </div>
        
        <div class="col-md-4">
          
          <table class="table table-striped table-bordered table-hover text-center">
            <tr><th class="text-center">Puntos de interés en Cádiz</th></tr>
            <tr class="pointer" ng-repeat="bookmark in itemInfo.itemData.bookmarks" ng-click="goToBookmark(bookmark)"><td>{{bookmark.name}}</td></tr>
          </table>
      
        </div>

      </div>
    </div>

    <script type="text/javascript" src="http://js.arcgis.com/3.12compact"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
    <script src="/bower_components/angular-esri-map/dist/angular-esri-map.js"></script>
    <script type="text/javascript">
        angular.module('esri-map-example', ['esri.map'])
            .controller('MapController', function ($scope, esriRegistry, esriLoader) {
              $scope.map = {
                center: {
                  lng: -6.291,
                  lat: 36.528
                },
                zoom: 17,
                basemap: "streets"
              };

              $scope.goToBookmark = function(bookmark) {
                esriRegistry.get('myMap').then(function(map) {
                  esriLoader('esri/geometry/Extent').then(function(Extent) {
                      var extent = new Extent(bookmark.extent);
                      map.setExtent(extent);
                  });
                });
              };
            });

            
    </script>
  </body>
</html>